---
import Container from "./Container.astro"
import Topic from "./Topic.astro"
---
<Container>
<div class="relative flex flex-col items-center md:flex-row" id="projects">
    <Topic title="Études de Cas" description="Découvrez des exemples concrets de notre succès prouvé en matière d'intelligence artificielle à travers nos études de cas" />
</div>

<div class="w-full p-12 bg-zinc-900 rounded-[45px] justify-start items-start gap-16 inline-flex text-white">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-2 divide-x-0 md:divide-x divide-y md:divide-y-0">
        <div class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2">
            <div class="w-full text-lg font-normal">Pour une petite entreprise locale, nous avons mis en place un support hybride utilisant GPT, augmentant la satisfaction client de 40% et réduisant les temps de réponse de 30%.</div>
            <div class="justify-start items-center gap-[15px] inline-flex">
                <div class="text-lime text-xl font-normal leading-7">En savoir plus</div>
                <img src="/services/agc.svg" alt="flèche">
            </div>
        </div>
        <div class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2">
            <div class="w-full text-lg font-normal">Pour une entreprise de logiciels B2B, nous avons développé une formation en IA qui a permis d'améliorer les compétences des employés et d'augmenter la productivité de 25%.</div>
            <div class="justify-start items-center gap-[15px] inline-flex">
                <div class="text-lime text-xl font-normal leading-7">En savoir plus</div>
                <img src="/services/agc.svg" alt="flèche">
            </div>
        </div>
        <div class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2">
            <div class="w-full text-lg font-normal">Pour une chaîne de vente au détail nationale, nous avons conçu un projet d'intégration de solutions IA qui a augmenté les ventes en ligne de 20% et réduit les coûts opérationnels de 15%.</div>
            <div class="justify-start items-center gap-[15px] inline-flex">
                <div class="text-lime text-xl font-normal leading-7">En savoir plus</div>
                <img src="/services/agc.svg" alt="flèche">
            </div>
        </div>
    </div>
</div>

</Container>
